html,
body {
    background-color: #000;
    font-family: 'Cinzel', serif;
    background-image: url('imgs/snow.png'), url('imgs/snow3.png'), url('imgs/snow2.png');
    animation: snow 3s linear infinite;
}

.count-down {
	opacity: .5;
    color: white;
    text-align: center;
    margin-top: 20%;
    font-size: 5em;
}

.no-margin {
    margin: 0 auto;
}

.date-header {
    font-size: .2em;
    margin: 5px 15px;
}

.fix-column th,
td {
    width: 120px;
}


/*Keyframes*/

@keyframes snow {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 500px 1000px, 400px 400px, 300px 300px;
    }
}
